*{
    margin: 0;
    text-decoration: none;
}
.aborescence{
    font-size: 30px;
    margin-top: 5px;
    margin-left: 25px;
}
ul{
    list-style: none;
    margin-top: 10px;
    margin-left: 0;
    
    padding-left: 10px;
}
.camer-menu{
    width: 30%;
    background-color:rgba(128, 128, 128, 0.199);
    height: 700px;
    position: sticky;
}
.racine .items ul li{
    margin: 3px;
}
.racine{
    padding-top: 10px;
}
.camer-menu .racine .items >a {
    font-size: 35px;
    color:black;
    font-weight: bolder;
}
.camer-menu .racine .items li a{
    color: rgb(206, 127, 23);
    font-size: 20px;
}